
@{
    ViewBag.Title = "changepassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />
<center>
    <h1>CHANGE PASSWORD</h1>
    <br />
    <form action="/Login/changepassword2" method="post" id="sampleForm" enctype="multipart/form-data">
        <p>please input your email for the change password!!</p>
        <br />
        <input class="form-control-lg form-control" name="email" id="email" style="width:500px;"/>
        <br />
        <button class="btn btn-lg btn-primary" type="submit">SEND EMAIL</button>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </form>
</center>
