
@{
    ViewBag.Title = "changepassword3";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />
<center>
    <h1>CHANGE PASSWORD</h1>
    <br />
    <form action="/Login/changepassword4" method="post" id="sampleForm" enctype="multipart/form-data">
        <p>you can change password!!</p>
        <br />
        <input class="form-control-lg form-control" name="email" id="email" style="width:500px;" placeholder="input your email"/>
        <br /> 
        <input class="form-control-lg form-control" name="username" id="email" style="width:500px;" placeholder="input your username"/>
        <br />
        <input class="form-control-lg form-control" type="password" name="password" id="email" style="width:500px;" placeholder="Input your new password"/>
        <br />
        <button class="btn btn-lg btn-primary" type="submit">RESET</button>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </form>
</center>
