
@{
    ViewBag.Title = "validation";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />
<center>
    <h1>YOUR EMAIL NOT REGISTER</h1>
    <p>you can register first your account on login user page</p>
    <br />
    <a href="/Login/LoginUser/" class="btn btn-lg btn-warning">BACK TO LOGIN USER</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>