
@{
    ViewBag.Title = "Validasicart";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="card">
    <div class="card-body">
        <h1 class="text-center text-dark">Your Cart Was Limit, You was Add Item until 10Kg</h1>
        <br />
        <p class="text-center text-dark">Please click button below to checkout your product item or delete your product!</p>
        <br />
        <center>
            <a class="btn btn-lg btn-warning" href="~/User/CartDetails">
                Go Back To Cart
            </a>
        </center>
        <br />
        <h1 class="text-center text-dark">Thank You!</h1>
    </div>
</div>
